body {
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.button {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  border: none;

  background-image: linear-gradient(90deg, #f26843 0%, #e74b36 100%);
}

.button:hover {
  background-image: linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
}

.button:focus {
  background-image: linear-gradient(90deg, #d74632 0%, #e1613e 100%);
}

.site-navigation,
.user-navigation,
.submenu {
	list-style: none;
}

.site-navigation a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.site-navigation-current {
  color: #ffffff;
  background-color: #d07058;
}

.menu-item:hover .submenu,
.submenu:hover {
  display:block;
}

.submenu {
  display: none;
  background-color: #f8f7f4;
}

.submenu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu-item-new a {
  font-weight: 700;
}

.submenu .submenu-item:hover,
.submenu-item a:hover,
.submenu .submenu-item:focus,
.submenu-item a:focus {
  background-color: #fbded7;
}

.submenu .submenu-item:active {
  background-color: #f6b5a5;
}

.submenu-item-current {
  background-color: #d07058;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #a1b4a9;
}

.user-navigation a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.popup {
  display: none;
}

.search:hover .popup-search,
.popup-search:hover {
  display: block;
}

.login:hover .popup-login,
.popup-login:hover {
  display: block;
}

.basket:hover .popup-basket,
.popup-basket:hover {
  display: block;
}

.contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.features {
  color: #323232;
  background-color: #ede1c5;
  background-image: url("../img/wafel.jpg");
  background-repeat: repeat;
}

.features-list {
  list-style: none;
}

.features-list h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-size: 560px 220px;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  background-image: linear-gradient(#353535, #353535);
  background-size: 100% 2px;
  background-position: left 25px;
  background-repeat: no-repeat;
}

.subscription {
  background-color: #f8f7f4;
  }

.subscription p {
  color: #5a5a5a;
}

.subscription-form-email {
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.subscription-form-email:hover {
  color: #c7c6c5;
  border: 2px solid #c7c6c5;
}

.subscription-form-email:focus {
  color: #c7c6c5;
  border: 2px solid #8fbdec;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  color: #ffffff;
}

.catalog-item:hover {
  background-color: #9bafa3;
}

.catalog-item .button {
  display: none;
}

.catalog-item .button:hover,
.catalog-item .button:focus {
  color: #ffffff;
}

.catalog-item:hover .button{
  display: inline-block;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
}

.social-list {
  list-style: none;
}

.social-link {
  color: #ffffff;
}

.additional-navigation-list {
  list-style: none;
}

.additional-navigation a {
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.additional-navigation a:hover,
.additional-navigation a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.provider a {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-link {
  color: #ffffff;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}


