body {
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.button {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  
  background-image: linear-gradient(90deg, #f26843 0%, #e74b36 100%);
  border: none;
}

.button:hover {
  background-image: linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
}

.button:focus {
  background-image: linear-gradient(90deg, #d74632 0%, #e1613e 100%);
}

.page-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0;
  

}

.main-heder-logo {
  width: 154;
  height: 64
}

.site-navigation,
.user-navigation,
.submenu {
	list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.site-navigation-current {
  color: #ffffff;
  background-color: #d07058;
}

.menu-item:hover .submenu,
.menu-item:focus .submenu,  
.submenu:hover {
  display:block;
}

.submenu {
  display: none;
  background-color: #f8f7f4;
}

.submenu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu-item-new a {
  font-weight: 700;
}

.submenu .submenu-item:hover,
.submenu-item a:hover,
.submenu .submenu-item:focus,
.submenu-item a:focus {
  background-color: #fbded7;
}

.submenu .submenu-item:active {
  background-color: #f6b5a5;
}

.submenu-item-current {
  background-color: #d07058;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #a1b4a9;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.popup {
  display: none;
}

.search:hover .popup-search,
.popup-search:hover,
.search:focus .popup-search {
  display: block;
}

.login:hover .popup-login,
.popup-login:hover,
.login:focus .popup-login {
  display: block;
}

.basket:hover .popup-basket,
.popup-basket:hover,
.basket:focus .popup-basket {
  display: block;
}

.contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-wrapper {
  width: 560px;
  box-sizing: border-box;
}

.features {
  margin-bottom: 40px;
  padding: 26px 34px 28px 30px;

  color: #323232;
  background-color: #ede1c5;
  background-image: url("../img/wafel.jpg");
  background-repeat: repeat; 
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.news {
  padding-top: 25px;
  padding-left: 18px;
  min-height: 220px;

  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-size: 560px 220px;
  box-sizing: border-box;
}

.news-title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline #353535;
}

.subscription {
  padding: 30px 20px 35px 20px;
  background-color: #f8f7f4;
  }

.subscription h2 {
  margin: 0;
}

.subscription p {
  color: #5a5a5a;
}

.subscription-form-email {
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.subscription-form-email:hover {
  color: #c7c6c5;
  border: 2px solid #c7c6c5;
}

.subscription-form-email:focus {
  color: #c7c6c5;
  border: 2px solid #8fbdec;
}

.page-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  /*width: 1146px;*/
}

.catalog-item {
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
  color: #ffffff;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: #9bafa3;
}

.catalog-item .button {
  display: none;
}

.catalog-item .button:hover,
.catalog-item .button:focus {
  color: #ffffff;
}

.catalog-item:hover .button{
  display: inline-block;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
}

.main-footer {
  display: flex;
  padding-top: 19px;
  padding-bottom: 29px;
}

.main-footer-social {
  width: 187px;
  margin-right: 213px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link {
  color: #ffffff;
}

.additional-navigation {
  width: 330px;
}
.additional-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-navigation a {
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.additional-navigation a:hover,
.additional-navigation a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.provider a {
  font-weight: 700;
}

.footer-copyright {
  width: 190px;
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-link {
  color: #ffffff;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}


